@model SchoolManagementApp.MVC.Data.Course

@{
  ViewData["Title"] = "Details";
}

<h1 class="mb-4">Details Course</h1>

<div>
  <hr />
  <form class="row">

    <div class="mb-3">
      <label for="name" class="form-label">qHtml.DisplayNameFor(model => model.Name)</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        value="qHtml.DisplayFor(model => model.Name)" readonly>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">qHtml.DisplayNameFor(model => model.Code)</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        value="qHtml.DisplayFor(model => model.Code)" readonly>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">qHtml.DisplayNameFor(model => model.Credits)</label>
      <input type="text" class="form-control" id="name" aria-describedby="name"
        value="qHtml.DisplayFor(model => model.Credits)" readonly>
    </div>
  </form>

</div>
<div>
  <a asp-action="Edit" class="btn btn-primary" asp-route-id="qModel?.Id">Edit</a>
  <a class="btn btn-danger" asp-action="Index"><i class="fa-solid fa-house"></i> Back to List</a>
</div>
