@model SchoolManagementApp.MVC.Data.Lecturer

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4">Delete Lecturer</h1>

<h3 class="text-danger">Are you sure you want to delete this?**</h3>
<div>
    <hr />
    <form class="row">

        <div class="mb-3">
            <label for="FirstName" class="form-label">qHtml.DisplayNameFor(model => model.FirstName)</label>
            <input type="text" class="form-control" id="FirstName" aria-describedby="FirstName"
                value="qHtml.DisplayFor(model => model.FirstName)" readonly>
        </div>
        <div class="mb-3">
            <label for="LastName" class="form-label">qHtml.DisplayNameFor(model => model.LastName)</label>
            <input type="text" class="form-control" id="LastName" aria-describedby="LastName"
                value="qHtml.DisplayFor(model => model.LastName)" readonly>
        </div>
    </form>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-warning" /> 
  <a class="btn btn-danger" asp-action="Index"><i class="fa-solid fa-house"></i> Back to List</a>
    </form>
</div>
