@model SchoolManagementApp.MVC.Data.Lecturer

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mb-4">Edit Lecturer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Saves Changes" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index"><i class="fa-solid fa-house"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    q{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
