@model SchoolManagementApp.MVC.Data.Student

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Details Student</h1>

<div>
    <hr />

  <form class="row">

    <div class="mb-3">
      <label for="FirstName" class="form-label">qHtml.DisplayNameFor(model => model.FirstName)</label>
      <input type="text" class="form-control" id="FirstName" aria-describedby="FirstName"
        value="qHtml.DisplayFor(model => model.FirstName)" readonly>
    </div>
    <div class="mb-3">
      <label for="LastName" class="form-label">qHtml.DisplayNameFor(model => model.LastName)</label>
      <input type="text" class="form-control" id="LastName" aria-describedby="LastName"
        value="qHtml.DisplayFor(model => model.LastName)" readonly>
    </div>
    <div class="mb-3">
      <label for="DateOfBirth" class="form-label">qHtml.DisplayNameFor(model => model.DateOfBirth)</label>
      <input type="text" class="form-control" id="DateOfBirth" aria-describedby="DateOfBirth"
        value="qHtml.DisplayFor(model => model.DateOfBirth)" readonly>
    </div>
  </form>

</div>
<div>
  <a asp-action="Edit" class="btn btn-primary" asp-route-id="qModel?.Id">Edit</a>
  <a class="btn btn-danger" asp-action="Index"><i class="fa-solid fa-house"></i> Back to List</a>
</div>
